################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/HNCK.CRM/HNCK.CRM.Web/wwwroot
