@model HNCK.CRM.Web.ViewModels.Subject.SubjectIndexViewModel
@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-10">
		<h2 class="hnck-text-blue float-left">Subjects</h2>
	</div>
	<div class="col-md-2">
		<a type="button" class="btn btn-primary float-right" asp-action="Create" asp-controller="Subject">Create subject</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="text-center hnck-grid">
			<hr />
			<div>
				<div id="SubjectGrid">
					@(Html.Kendo().Grid<HNCK.CRM.QueryModel.Subjects>()
						.Name("SubjectGrid")
						.Columns(columns =>
						{
							columns.Bound(p => p.LastName).Title("Last name").Width(150);
							columns.Bound(p => p.FirstName).Title("First name").Width(150);
							columns.Bound(p => p.Email).Title("Email").Width(150);
							columns.Bound(p => p.TelNumber).Title("Tel. number").Width(150);
							columns.Bound(p => p.FullAddress).Title("Address").Width(400);
							columns.Bound(p => p.IdSubject).Title(" ")
								.Width(50)
								.ClientTemplate("#= subjectDetail(data) #")
								.Filterable(false);
							columns.Bound(p => p.IdSubject).Title(" ")
								.Width(50)
								.ClientTemplate("#= subjectUpdate(data) #")
								.Filterable(false);
							columns.Bound(p => p.IdSubject).Title(" ")
								.Width(50)
								.ClientTemplate("#= subjectDelete(data) #")
								.Filterable(false);
						})
						.ToolBar(tools => tools.Excel().Text("Export"))
							.Excel(excel => excel
								.FileName("subjects.xlsx")
								.Filterable(true)
								.AllPages(true)
							)
						.Pageable()
						.Navigatable()
						.Sortable()
						.Groupable()
						.Filterable(ftb => ftb.Mode(GridFilterMode.Row))
						.Scrollable(x => x.Height("Auto"))
						.DataSource(dataSource => dataSource
							.Ajax()
							.PageSize(10)
							.Model(model => model.Id(p => p.IdSubject))
						.Read("GetSubject_Read_Sample", "Subject")
						)
					)
				</div>
			</div>
		</div>
	</div>

</div>
