@import "variables.scss";
@import "hnckcrm_kendo.scss";

.hnck-container {
	max-width: 1800px;
}

.hnck-grid {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.close {
	color: $color-red;
}

.hnck-text-blue {
	color: $color-blue;
}
.hnck-text-red {
	color: $color-red;
}

.hnck-text-white {
	color: $color-white;
}

.hnck-modal {
	background-color: $body-bg;
	color: $color-white;
	
}

.modal-header {
	border-bottom: 1px solid $color-blue;
}

.modal-footer {
	border-top: 1px solid $color-blue;
}

.modal-content {
	border: $color-blue 1px solid;
}

.modal-title {
	color: $color-blue;
}

.hnck-label {
	padding: 10px 10px 10px 10px;
	margin-left: 20px;
}

.hnck-input {
	margin-top: 10px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.hnck-headerblock {
	border-style: solid;
	border-radius: 25px;
	border-width: 7px 2px 2px 2px;
	border-color: #495057;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-right: 20px;
}

.hnck-headerblock-header {
	border-style: solid;
	padding: 4px;
	border-top-left-radius: 19px;
	border-top-right-radius: 19px;
	background-color: #495057;
	border: none;
	margin-right: -20px;
}

.hnck-headerblock-text {
	padding-left: 1rem;
	font-size: 110%;
	font-weight: bold;
}


hr {
	background-color: $color-blue;
	margin-top: 0;
	margin-left: 10px;
	margin-right: 10px;
}

body {
	background-color: $body-bg;
	margin: 0;
	padding: 0;
	height: 100%;
}

container {
	min-height: 100%;
	position: relative;
	max-width: 1800px;
}

navbar {
	background-color: $header-footer-bg;
	color: $color-white;
}

a.navbar-brand {
	margin-left: 1rem;
}

h2{
	text-align: left;
	padding-left: 1rem;
	padding-bottom: 0px;
}

header {
	background-color: $header-footer-bg;
}

footer {
	background-color: $header-footer-bg;
	text-align: center;
	height: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
}