/*$navbar-color-bg: #b7000b;
$navbar-color: #ffffff;
$detail-panel-bg: rgba(33, 37, 41, 0.065);

$grid-header-bg: $color-black;
$grid-header-color: $color-white;
$grid-filterrow-bg: $color-white;
$grid-filterrow-color: $color-white;

$grid-grouping-header-bg: $grid-header-bg;
$grid-grouping-header-color: $grid-header-color;

$grid-pager-number-color: $grid-header-bg;
$grid-grouping-header-color: $grid-header-color;*/
/*$navbar-color-bg: #b7000b;
$navbar-color: #ffffff;
$detail-panel-bg: rgba(33, 37, 41, 0.065);

$grid-header-bg: $color-black;
$grid-header-color: $color-white;
$grid-filterrow-bg: $color-white;
$grid-filterrow-color: $color-white;

$grid-grouping-header-bg: $grid-header-bg;
$grid-grouping-header-color: $grid-header-color;

$grid-pager-number-color: $grid-header-bg;
$grid-grouping-header-color: $grid-header-color;*/
.k-file-name {
  cursor: pointer; }

.k-icon {
  cursor: pointer; }

.k-upload {
  background-color: #161a1d !important; }

.k-upload .k-dropzone {
  background-color: #161a1d !important; }

.k-content {
  margin: 1rem; }

.k-upload .k-upload-files .k-file {
  padding: 0.25rem !important; }

.k-file-name {
  color: #ffffff;
  font-size: 15px !important; }

.k-file-size {
  color: #ffffff !important; }

.k-upload .k-upload-button {
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: #ffffff !important; }

.k-upload .k-dropzone .k-dropzone-hint {
  color: #007bff !important; }

.hnck-container {
  max-width: 1800px; }

.hnck-grid {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.close {
  color: #ff0000; }

.hnck-text-blue {
  color: #007bff; }

.hnck-text-red {
  color: #ff0000; }

.hnck-text-white {
  color: #ffffff; }

.hnck-modal {
  background-color: #161a1d;
  color: #ffffff; }

.modal-header {
  border-bottom: 1px solid #007bff; }

.modal-footer {
  border-top: 1px solid #007bff; }

.modal-content {
  border: #007bff 1px solid; }

.modal-title {
  color: #007bff; }

.hnck-label {
  padding: 10px 10px 10px 10px;
  margin-left: 20px; }

.hnck-input {
  margin-top: 10px;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.hnck-headerblock {
  border-style: solid;
  border-radius: 25px;
  border-width: 7px 2px 2px 2px;
  border-color: #495057;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-right: 20px; }

.hnck-headerblock-header {
  border-style: solid;
  padding: 4px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  background-color: #495057;
  border: none;
  margin-right: -20px; }

.hnck-headerblock-text {
  padding-left: 1rem;
  font-size: 110%;
  font-weight: bold; }

hr {
  background-color: #007bff;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px; }

body {
  background-color: #161a1d;
  margin: 0;
  padding: 0;
  height: 100%; }

container {
  min-height: 100%;
  position: relative;
  max-width: 1800px; }

navbar {
  background-color: #000000;
  color: #ffffff; }

a.navbar-brand {
  margin-left: 1rem; }

h2 {
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 0px; }

header {
  background-color: #000000; }

footer {
  background-color: #000000;
  text-align: center;
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%; }
