$color-white: #ffffff;
$color-black: #000000;
$color-blue: #007bff;
$color-gray: #495057;
$color-red: #ff0000; 

$header-footer-bg: $color-black;
$header-footer-color: $color-white;

$body-bg: #161a1d;

/*$navbar-color-bg: #b7000b;
$navbar-color: #ffffff;
$detail-panel-bg: rgba(33, 37, 41, 0.065);

$grid-header-bg: $color-black;
$grid-header-color: $color-white;
$grid-filterrow-bg: $color-white;
$grid-filterrow-color: $color-white;

$grid-grouping-header-bg: $grid-header-bg;
$grid-grouping-header-color: $grid-header-color;

$grid-pager-number-color: $grid-header-bg;
$grid-grouping-header-color: $grid-header-color;*/
