/*$navbar-color-bg: #b7000b;
$navbar-color: #ffffff;
$detail-panel-bg: rgba(33, 37, 41, 0.065);

$grid-header-bg: $color-black;
$grid-header-color: $color-white;
$grid-filterrow-bg: $color-white;
$grid-filterrow-color: $color-white;

$grid-grouping-header-bg: $grid-header-bg;
$grid-grouping-header-color: $grid-header-color;

$grid-pager-number-color: $grid-header-bg;
$grid-grouping-header-color: $grid-header-color;*/
