@model HNCK.CRM.Dto.Event.UserEventDto

<div class="modal-header">
	<h5 class="modal-title">Create event</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<input class="hnck-input form-control" type="hidden" asp-for="IdSubject">
	<div class="row">
		<div class="col-xl-2">
			<label class="hnck-label" asp-for="Name"></label>
		</div>
		<div class="col-xl-10">
			<input class="hnck-input form-control" asp-for="Name">
		</div>
	</div>
	<div class="row">
		<div class="col-xl-2">
			<label class="hnck-label" asp-for="DueDate"></label>
		</div>
		<div class="col-xl-10">
			<input class="hnck-input form-control" type="date" asp-for="DueDate">
		</div>
	</div>
	<div class="row">
		<div class="col-xl-2">
			<label class="hnck-label" asp-for="NotificationDate"></label>
		</div>
		<div class="col-xl-10">
			<input class="hnck-input form-control" type="date" asp-for="NotificationDate">
		</div>
	</div>
	<div class="row">
		<div class="col-xl-2">
			<label class="hnck-label" asp-for="Decsription"></label>
		</div>
		<div class="col-xl-10">
			<textarea class="hnck-input form-control" rows="4" asp-for="Decsription"></textarea>
		</div>
	</div>


</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary">Save changes</button>
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>